
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.method-1 li{
    padding: .8rem 0;
    border-radius: 2rem;
}
.method-1{
   width: auto;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}
    .logo img{
        width: 200px;
        height: auto;
    }
    .main-nav{
        margin: 0;
        padding: 0;
    }
    /* .method1-ul{
        list-style-type: none;
        background-color: rgb(53, 175, 236);
        font-weight: bold;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .method1-ul li a{
        font-size: 1.5rem;
        color: rgb(218, 217, 216);
    } */

    /*Design 2*/
     .method-2{
        display: flex;

    }
    .method2-ul{
        list-style-type: none;
        font-weight: bold;
        display: flex;
        flex-flow: row wrap;
        
    }
    .method2-ul li{
        background-color: rgb(53, 175, 236);
        padding: 1rem;
        margin: 10px;
    }
    
    .method2-ul li a{
        font-size: 1.5rem;
        color: rgb(218, 217, 216);
    }