@font-face {
    font-family: "Regular";   /*Can be any text*/
    src: local("RobotoSlab-Regular"),
      url("./fonts/RobotoSlab-Regular.woff") format("woff");
  }
body{
    max-width: 1200px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
section{
    color: #FF715B;
    font-family: Regular;
    font-weight: 600;
    padding: 0 4rem;
}
h2{
    font-size: 3rem;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
li{
    text-align: center;
    background: linear-gradient(176deg, rgba(255, 246, 207, 1) 35%, rgba(254, 206, 122, 1) 100%);
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 3rem;
}
img{
    width: 100%;
    height: auto;
}